* {
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    /* background-color: beige; */
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}
.leftsection {
    display:flex;
    /* background-color: aqua; */
    margin-left: 20px;
    gap: 15px;
    
    
}
.rightsection {
    display: flex;
    /* background-color: azure; */
    gap: 25px;
    font-size: 14px;
    margin-right: 10px;
    align-items: center;
    

    
}

#signin {
    background-color: rgb(74, 74, 243);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    color: white;
    
}
#menu {
    height: 20px;
    width: 20px;
}
main {
    
    flex: 1;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 155px;
}

#logo {
    height: 120px;
    width: 290px;
}
.searchbar{
    
    margin-top: 10px;
    
}
#bar {
    padding-left: 40px;
    padding-right: 500px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 30px;
    border: 1px solid grey;

}
.searchcontent {
    display: flex;
    position: relative;
}
#searchlogo {
    position: absolute;
    bottom:17px;
    left: -325px;
    height: 15px;
    width: 15px;    
}
#miclogo {
    position: absolute;
    bottom:17px;
    left: 160px;
    height: 18px;
    width: 18px; 
}
#cameralogo {
    position: absolute;
    bottom:12px;
    left: 196px;
    height: 28px;
    width: 28px; 
}
#aimode {
    position: absolute;
    bottom:8px;
    left: 235px;
    background-color: rgb(234, 235, 235);
    width: 80px;
    border-radius: 18px;
    text-align: center;
    padding: 8px;
}
.twobuttons{
    display:flex;
    margin-top: 30px;
    gap: 10px;
}

.button1 , .button2{
    background-color: rgb(241, 241, 241);
    padding: 7px;
    border-radius: 8px;
    padding-top: 10px;
    padding: 10px 17px 10px 17px;
}

footer{
    background-color: rgb(247, 243, 243);    
}
.top {
    padding: 15px;
    padding-left: 30px;
}
.bottom {
    display: flex;
    border-top: 1px solid rgb(212, 210, 210);
    padding: 14px 20px 15px 35px;
    justify-content: space-between;
}
.left, .right {
    display: flex;
    gap: 25px;

}
.right{
    margin-right: 20px;
}


#about:hover,
#store:hover,
#gmail:hover,
#images:hover,
#advertising:hover,
#business:hover,
#how:hover,
#privacy:hover,
#terms:hover,
#settings:hover {
    text-decoration: underline;
    cursor: pointer;
    
}
#menu:hover,
#signin:hover,
.button1:hover,
.button2:hover{
    cursor: pointer;  
}
